<div class="btn-group" role="group" aria-label="Sort Beers">
  <button type="button" class="btn btn-primary btn-sort-alcvol"><i class="fas fa-beer"></i></button>
  <button type="button" class="btn btn-primary btn-sort-name"><i class="fas fa-sort-alpha-down"></i></button>
</div>